# Файлы с данными (возможно, они содержат приватную информацию) data.db extra_data.xlsx elements_data.xlsx # Виртуальное окружение Python (очень много ненужных файлов) venv/ */__pycache__/ *.pyc # Служебные файлы операционной системы .DS_Store Thumbs.db